/* Custom Font */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700&family=Roboto:wght@500;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

/* Package section */

.package {
    margin-top: 100px;
}

.wedding-plus {
    background-color: #3F87F5;
    color: white;
    padding: 30px 20px;
    border-radius: 20px;
}

.price-text {
    color: #231D4F;
    font-family: 'Roboto', sans-serif;
}

.fa-check-circle {
    color: #3F87F5;
}

.fa-check-circle.plus {
    color: white;
}

.plan-button, .plan-button-plus {
    font-weight: bold;
    border-radius: 20px;
}

.plan-button-plus {
    color: #0B5ED7;
}

.package-badge {
    background-color: #FF4E4E;
    font-size: 1.2rem;
}

@media (max-width: 480px) {
    .carousel-image {
        height: 350px;
    }
    .carousel-info h5{
        font-size: 25px;
    }
    .carousel-info p{
        font-size: 16px;
    }
}